
.buttonc {
  background-color: #6dc2ed;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 5px 32px 100px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px 400px 0px 400px;
  cursor: pointer;
}

.buttonl {
  background-color: #6d7478;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 0px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 1000px 10px 0px;
  cursor: pointer;
}

.buttonr {
  background-color: #6d7478;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 0px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: -1000px 0px 10px 950px;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 0px 0px 10px 0px;
  background-color: #66c7ff;
  color: black;
}

#imgcenter{
  align:center;
}
.frm{
  align-self: center;
}
#th {
  width: 100%;
  height: 50px;
  border-collapse: collapse;
}

#table {
  width: 100%;
  border-collapse: collapse;
}

#th1{
  background-color: #265cff;
}

#times{
  background-color: #4264c9;
}

#break{
  background-color: #28de3a;
}

#prg{
  background-color: #a25dd4;
}

#te{
  background-color: #db9f1d;
}

#tos{
  background-color: #c41a1a;
}
#lb{
  background-color: #6bbadb;
}

#yel{
  background-color: #ffd24a;
}

#lired{
  background-color: #ff977d;
}

#center {
  margin-left: auto;
  margin-right: auto;
}

.form {
    background-color: #96d4f2;
    padding: 10px;
}

#hed2{
  text-align: center;
  text-decoration: underline;
}

#hb{
  text-align: right;
}

#tm{
  text-align: center;
}
